

@model RoomModel

<form method="post">
	<input asp-for="RoomID" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Posodobi podatke sobe!</h2>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"> </span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Cena" class="p-0"></label>
			<input asp-for="Cena" class="form-control" />
			<span asp-validation-for="Cena" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="ShortDescription" class="p-0"></label>
			<input asp-for="ShortDescription" class="form-control" />
			<span asp-validation-for="ShortDescription" class="text-danger"></span>

		</div>
		<div class="mb-3 row p-1">
			<label asp-for="LongDescription" class="p-0"></label>
			@Html.EditorFor(o => o.LongDescription)
			<span asp-validation-for="LongDescription" class="text-danger"></span>

		</div>
		<div class="row">
			<div class="col-6  col-md-3">
				<button type="submit" class="btn btn-primary form-control">Posodobi</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Room" asp-action="Index" class="btn btn-outline-secondary border form-control">
					Nazaj na seznam
				</a>
			</div>
		</div>

	</div>
</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}